@font-face {
    font-family: 'NunitoSans';
    src: url(/Tema2/Actividad3/fuentes/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

body{
    font-family: 'NunitoSans'; 
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}
.Iconos{
    display: flex;
    justify-content: row;
    align-items: center; 
    flex-wrap: wrap;  
}
.icono{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;

}

/*Para tablet*/
@media (min-width:474px) and (max-width:1024px){
    .icono:last-child{
        order:2;
        width: 100%;
        border: 2px solid;
        margin-left: 20px;
        margin-right: 20px;
    }
    .icono:first-child{
        order:1;
    }
    
    

}

/*Para movil*/
@media(max-width:474px){
    .Iconos{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .icono{
        width: 100%;
        padding: 5%;
    }
    .icono:nth-child(2){
background-color: #eee;
    }
}