/* Estilos generales */
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    width: 80%;
    max-width: 1000px;
  
}

/* Sección izquierda */
.izquierda {
    flex: 1;
    padding: 20px;
    width: 40%;
}

.izquierda input, .izquierda select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}
.robot {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
}

/* Escalado reducido para el checkbox */
.robot input[type="checkbox"] {
    transform: scale(2); /* Escala el checkbox a un tamaño mediano */
}

.robot label {
    font-size: 14px; /* Tamaño de fuente más pequeño y delicado */
    margin-right: 8px; /* Espacio entre la etiqueta y el logo */
}

/* Estilo para la imagen de reCAPTCHA */
.robot img {
    width: 40px; /* Tamaño de la imagen reducido */
    height: 40px;
}

/* Sección derecha */
.derecha {
    flex: 1;
    padding: 20px;
   width: 60%;
}

/* Estilos para el contenedor del texto y lista enumerada */
.textito {
    font-size: 0,1em;
    background-color: #555;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: auto; /* Permite desplazamiento si el contenido es extenso */
    border: 1px solid #666;
}

.textito h2 {
    margin-bottom: 15px;
}

.textito ol {
    margin-left: 20px;
}

.textito ol li {
    margin-bottom: 10px;
    line-height: 1.6;
}
.gris{
    color: #cacbcb;
}
/* Checkbox de términos */
.checkbox {
    margin-top: 15px;
}

/* Botón de continuar */
.continuar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.continuar button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.continuar button:hover {
    background-color: #0056b3;
}
