@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: #f5ecde;
}

.contenedor-principal {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
}

.imagen {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
}

.imagen img {
  width: 60%;
  height: auto;
}

.cabecera {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 30px;
  font-weight: bold;
}

.cabecera ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.cabecera li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.lista {
  display: flex;
  align-items: center;
  flex-direction: column;

  grid-row-start: 2;
  grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 2;
}

.lista ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 2rem;
}

.lista li {
  cursor: pointer;
  font-size: 19px;
}

.lista li:hover {
  text-decoration: underline;
}

.lista h1 {
  font-size: 25px;
}

.carta {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.cartita {
  background-color: #e4d9cc;
  margin: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  flex-direction: column;
}

.cartita h1 {
  font-size: 25px;
}

img {
  width: 90%;
  height: auto;
}