@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 10px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: #DCE7EF;   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DCE7EF;
    padding: 10px 20px;
}

.logo img {
    height: 80px; 
    cursor: pointer;
}

.buscar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

#buscar-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

#buscar-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.buscar-button {
    padding: 8px 12px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #F1CDD7;
    color: white;
    cursor: pointer;
}

.buscar-button:hover {
    background-color: #F1CDD7;
}

.iconos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.icon {
    height: 30px;
    cursor: pointer;
}
/* Estilo para la barra de navegación */
.navegacion {
    background-color: #F1CDD7;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

.navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navegacion ul li {
    display: inline;
}

.navegacion ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
}

.navegacion ul li a:hover {
    background-color: #F1CDD7;
    border-radius: 4px;
}
/* Estilo para la sección de banner */
.banner {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 20px 0;
    padding: 50px;
    gap: 10px; 
}

.banner-img img {
    height: 550px;
    width: auto;
}

.banner-titulo {
    flex: 1;
    text-align: center;
    margin: 0 10px; 
}

.banner-titulo h1 {
    font-size: 5rem;
    color: #F7BB9B;
    margin: 0;
}

.cuadrados {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    margin: 40px 0;
    padding: 20px;
    gap: 20px; 
}


.cuadrado {
    width: 250px; 
    height: 250px; 
    background-color: #F7BB9B;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}


.cuadrado img {
    width: 100px;
    height: 120px;
    height: auto;
    margin-bottom: 15px; 
}

.cuadrado h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px; 
}


.cuadrado p {
    font-size: 1rem;
    color: white;
    margin: 0;
    line-height: 1.5; 
}


