@font-face {
    font-family: 'SourceSansPro';
    src: url(/Tema2/PaginaXiaomi/fuentes/SourceSansPro-Regular.ttf) format(ttf);
}

body {
    font-family: "SourceSansPro";
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: colum; 
    align-items: center; /* Centrar verticalmente los elementos del encabezado */
    padding: 0 20px; /* Espaciado interno */
    margin: 0;
}
.textito {
    width: 100%; /* Ocupar todo el ancho disponible */
    margin-bottom: 10px;
}

.contenedor-negro {
    display: flex; /*para alinear el contenido */
    align-items: center; /* Alinear verticalmente */
    justify-content: space-between; /* Espacio entre el texto y la "X" */
    background-color: black; /* Fondo negro */
    color: white; /* Color del texto */
    padding: 5px ; /* Espaciado interno */
    max-width: auto; /* Ancho máximo del contenedor */
}
.contenedor-negro p{
    margin: 0;
    font-size: 16px;
    text-align: center;
    flex-grow: 1;
}

.cerrar {
    cursor: pointer; /* Cambiar el cursor a pointer para la "X" */
    font-size: 20px; /* Tamaño del texto de la "X" */
    color: white; /* Color de la "X" */
    margin-right: 20px; /* Espacio a la izquierda de la "X" */
    order: 1; /* Asegura que la "X" esté a la derecha */
    
}
.logo-contenedor{
    display: flex; /* Usar flexbox para alinear el logo y el menú en una línea */
    align-items: center; /* Alinear verticalmente el logo y el menú */
    width: 100%; /* Ocupar todo el ancho */
}

.logo {
    margin-right: 20px; /* Espacio a la derecha del logo */
    padding: 15px ;
}

.logo img {
    width: 40px; /* Tamaño del logo */
}

.menu {
    display: flex;
    align-items: center; /* Alinear verticalmente el contenedor */
    justify-content: space-between; /* Espacio entre los elementos dentro del contenedor */
    width: 100%; /* Asegurarse de que ocupa todo el ancho */
}

.menu-principal {
    flex-grow: 1; /* Permitir que el menú principal ocupe espacio disponible */
    padding: 20px ;
}
.menu-secundario{
    padding: 20px ;
}

.menu-principal ul, 
.menu-secundario ul {
    display: flex; /* Alinear los elementos en fila */
    list-style: none; /* Quitar el estilo de lista */
    padding: 0; /* Quitar padding */
    margin: 0; /* Quitar margen */
}

.menu-principal li, 
.menu-secundario li {
    margin-right: 20px; /* Espaciado entre los elementos del menú */
}

.menu-principal a,
.menu-secundario a {
    text-decoration: none; /* Eliminar subrayado */
    color: black; /* Color de texto negro */
}

.iconos {
    display: flex; /* Alinear los iconos en fila */
    align-items: center; /* Alinear verticalmente los iconos */
    padding: 20px;
}

.iconos img {
    width: 24px; /* Tamaño de los iconos */
    height: 24px; /* Altura de los iconos */
    margin-left: 25px; /* Espacio entre los iconos */
}
.flecha-izquierda, .flecha-derecha{  
    width: 18px; /* Ancho de la flecha */
    position: absolute;
    top: 50%;
    

}
.flecha-izquierda{
    left: 5px;
    justify-content: space-between;
}
.flecha-derecha{
    right: 5px;
    justify-content: space-between;
    
}
.contenedor-comprar {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: space-between; /*Separa los elementos a cada lado*/
    padding: 0px 10px; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
    margin: 0 20px; /* Margen superior e inferior */
    position: relative;
    gap: 10px; /*Espacio entre el texto y la imagen*/
}

.contenedor-texto {
    text-align: left;
    margin: 100px; 
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
.contenedor-texto h1, .contenedor-texto h3{
    margin: 0;
    padding: 0;
}

.texto {
    font-size: 18px; /* Tamaño del texto */
    margin-bottom: 10px; /* Margen debajo del texto */
}
.imagen-derecha{
    text-align: right;
    margin: 0px;
    width: auto; /* Tamaño de los iconos */
    height: auto; 
}

.botones {
    display: flex; /* Alinear botones en fila */
    justify-content: flex-start;
    flex-direction: column; /* Alinearlos en fila en lugar de columna */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 10px;
}
.botones2{
    display: flex;
    flex-direction: row;
}
.boton {
    padding: 10px 15px; /* Espaciado interno del botón */
    background-color: black; /* Color de fondo del botón */
    color: white;
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambiar cursor a pointer */
}

.descubre {
    background-color: transparent; /* Fondo transparente*/
    color: black;
    padding: 10px 15px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar cursor a pointer */
}

.lineas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.linea{
     width: 100px;
    height: 4px;
    background-color: #cfcfcf;
    margin: 0 4px;
}
.linea-destacada{
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, orange 25%, lightgray 25%);
}
.linea4{
    width: 100px;
    height: 4px;
    background-color: #cfcfcf;
    margin: 0 4px;
}

.productos{
    text-align: center;
    margin: 40px 0;
    margin-bottom: 0px;
    background-color:  #ececec  ;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
.nuevos-lanzamientos{
    margin: 20px 0;
}
.nuevos-lanzamientos h4:first-child {
    color: orange;
    margin: 10px 0;
    border-bottom: 2px solid orange;
    padding-bottom: 15px;
}

.nuevos-lanzamientos h4{
    display: inline;
    margin: 0 20px;
    color: #6c6b6b;
}
.fondo{
    background-color: white;
    width: 90%;
    display: flex;
   justify-content: center;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   padding-left: 1rem;
   padding-right:1rem;
   padding-top: 1rem;
   box-sizing: border-box;
   margin: 30px auto;

}
.contenedor-nuevo{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ececec;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px 20px 0px;
    box-sizing: border-box;
 
}  
.contenedor-nuevo img{
 width: 70%;
}
.texto-derecho{
    min-width: 30%;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
   
}
.imagen-izquierda img{
    max-width: 100%;
    height: auto;
} 
.pie-de-pagina{
    background-color: #191919;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
}
.secciones-pie{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.secciones-pie .seccion1, .seccion2, .seccion3, .seccion4, .seccion5 {
    flex: 1;
    min-width: 150px;
    margin: 10px;
    }
.secciones-pie h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.secciones-pie li{
    list-style: none;
    margin-bottom: 8px;
}
.secciones-pie li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.secciones-pie li a:hover{
    text-decoration: underline;
}

.redes {
    width: 30%;
  }
  
  .lista4 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  
  .icons {
    width: 30px;
    height: 30px;
    padding-right: 15px;
  }
  
  .correo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    border-radius: 12px;

  }
  .correo p {
    margin: 10px;
  }
  
  .icons2 {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    padding-left: 5px;
  }
  
  .descargas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    border-radius: 12px;

  }
  
  .arriba {
    display: flex;
    flex-direction: row;
  }
  .qr {
    width: 80px;
    height: 80px;
    margin: 30px 15px;
  }
  .store {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .abajo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    & > h3{
        margin: 0px;
      }
  }
  
  hr {
    color: rgb(127, 126, 126);
    width: 98%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .final {
    color: white;
    display: flex;
  }
  .copy {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  
  .separacion {
    border-right: 1px solid white;
    padding-right: 35px;
  }
  
  .localizacion {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    gap: 1rem;
  }