* {
    box-sizing: border-box;
    margin-top: 5px;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
}

.contenedor {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 50px;

}

.imagen {
    flex: 1;
    box-sizing: border-box;
    width: 95%;
    height: auto;
    justify-content: flex-end;
    display: flex;
    
}
.texto{
    flex: 2;
    padding: 20px;
    margin-right: 100px;
}

h1 {
    margin-bottom: 10px;
}

p {
    line-height: 1.5; /*esto establece la altura de una casilla remarcada por líneas,
                        es decir establece la distancia entre lineas de texto*/
}
.contenedor2 {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    
}

/* Estilo para cada ítem del segundo contenedor */
.contenedor2 .item {
    display: flex;
    margin-bottom: 15px;
}

/* Palabras alineadas a la izquierda */
.contenedor2 .palabra {
    font-weight: bold;
    flex: 1;
    color: #333;
    margin-left: 50px;
}

/* Texto alineado a la derecha */
.contenedor2 .texto1 {
    flex: 2;
    color: #555;
    margin-right: 200px;
}

/* Línea divisoria entre los apartados */
hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}

/* Estilos responsive */
@media (max-width: 375px) {
    .contenedor{
        display: none;
    }
    .contenedor2 {
        flex-direction: column;
        
    }
    .texto1 {
        padding: 10px;
        margin-right: 0;
    }
    hr:first-of-type{
        display: none;
    }
}
