body {
    font-size: 2em;
    margin:0;
    padding:5%;
}
.parrafo {
    color: red;
}
#seccion1 {
    color: yellow;  
}
.parrafo,
#seccion1 {
    font-size: 3rem;
}
h1 {

}
body .primerdiv .segundodiv p{
    font-weight: bold;
}
.segundodiv p{
    font-weight: normal !important;
}
.primerdiv > p {
    color: green;
}
p + .primerdiv {
    color: orange;
}
.primerdiv ~ p {
    color: pink;
}
.primerdiv + p {
    color: blue;
}