.contenedor p{
    font-size: 3rem;
}
@media  (max-width:1024px){
    .contenedor p{
        font-size: 1rem;
    }
}
.contenedor a{
 font-size:  4rem;
}
.contenedor a:link{
    color: pink;
}
.contenedor a:visited{
 color: green;
}
.contenedor a:hover{
    color: red;
}
.contenedor a:focus{
    color: blue;
}
.contenedor a:active{
     color: orange;
}
.seccion{
 background-color: blue;
 width: 50%;
 margin: 0 auto;
 margin-top: 5%;
 border: 2em solid;
}.seccion{
   color: pink;
   }

.seccion:hover{
    background-color: pink;
   }
   .seccion:hover p{
    color: white;
   }